.wrapper {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-gap: 5px;
}

.right {
  background-color: white;
  height: 100vh;
}
.inner {
  height: 100vh;
}
.CodeMirror {
  font-size: 18px;
  height: 100vh;
}
