header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.results-right {
  display: flex;
}

.brand {
  fill: gray;
  margin: 0 10px;
}
.brand-npm2 {
}
.brand-github:hover {
  fill: black;
}

.brand-npm:hover {
  fill: red;
}

ul.results {
  padding: 0;
  font-family: 'Cantarell';
  width: 80%;
  margin: 0 auto;
}

.results__item {
  list-style: none;
  border-bottom: 1px solid #edeef0;
}

.results__item-title {
  padding-right: 20px;
  font-size: 20px;
}

span.results__item--description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-gap: 5px;
}

.right {
  background-color: white;
  height: 100vh;
}
.inner {
  height: 100vh;
}
/* code mirror overrides */
.CodeMirror {
  font-size: 18px;
  height: 100vh;
}
